* {
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.cube {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #9cf;
	background: linear-gradient(to bottom right, #9cf, #5ac);
	color: #a02;
	text-shadow: 2px 2px 2px #55a;
	border: 0.2px solid black;
	font-size: 23px;
	line-height: 29px;
	text-align: center;
	cursor: pointer;
}

#container {
	display: block;
	margin: auto;
	position: relative;
}

#newgame {
	cursor: pointer;
	display: block;
	width: 100%;
	height: 100px;
	margin: auto;
	background-color: #9cf;
	background: linear-gradient(to bottom right, #9cf, #5ac);
	border: none;
	position: absolute;
	bottom: 0; left: 0;
}

@media screen and (max-width: 320px) {
	#newgame {
		height: 30px;
	}
}

.clicked {
	background-color: #ffcc55;
	background: linear-gradient(to top right, #157, #49b);
	color: #faa;
}

#gameover {
	width: 100%;
	position: absolute;
	top: -55px; left: 0;
	color: #faa;
	background: #ffcc55;
	background: linear-gradient(to top left, rgba(16, 80, 112, 0.4), 
											rgba(64, 144, 176, 0.4));
	text-align: center;
	font-size: 5em;
	text-shadow: 2px 2px 2px #157;
	vertical-align: middle;
}

h3 {
	width: 350px;
	text-align: center;
	margin: auto;
}