.about-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.passport {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px;
    h1, img {
        padding: 20px;
        display: inline-block;
    }
    & img {
        max-height: 100%;
        border-radius: 100%;
    }
}

.about-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 8px;
    @media screen and (min-width: 992px) {
        padding: 20px;
    }
}

.site-images-box, .about-article {
    padding: 20px;
    display: inline-block;
    width: 100%;
    @media screen and (min-width: 992px) {
        width: 50%;
    }
}

.site-images-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    & img {
        max-height: 22vh;
        max-width: 85%;
        @media screen and (min-width: 1280px) {
            max-height: 90%;
        }
    }
    & img[alt="phone"] {
        max-height: 15vh;
        max-width: 15%;
        @media screen and (min-width: 1280px) {
            max-height: 90%;
        }
    }
}

.skills {
    padding: 0;
    li {
        list-style-type: none;
        padding: 3px 0;
    }
}