* {
	font-family: sans-serif;
	box-sizing: border-box;
}

.cube {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #9cf;
	background: linear-gradient(to bottom right, #9cf, #5ac);
	color: #a02;
	text-shadow: 2px 2px 2px #55a;
	border: 2px solid black;
	font-size: 77px;
	line-height: 90px;
	text-align: center;
	cursor: pointer;
}

.cube > span {
	transform: rotate(0deg);
}

.cube > span:hover {
	transform: rotate(90deg);	
	transition: transform 800ms ease-in 400ms;
}

#container {
	display: inline-block;
	margin: auto;
	position: relative;
}

.main {
	width: 320px;
	margin: auto;
}

#newgame {
	position: absolute;
	top: 326px;
	display: block;
	width: 300px;
	height: 100px;
	margin: auto;
	background-color: #9cf;
	background: linear-gradient(to bottom right, #9cf, #5ac);
	border: none;
}

