.links-list li {
    list-style-type: none;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px solid lightslategrey;
    &:last-of-type {
        border-bottom: none;
    }
    a {
        width: 100%;
        height: 100%;
    }
}