* {
	font-family: 'Istok Web', sans-serif;
}

.no-padding {
	padding: 0;
	margin: 0;
	position: relative;
}

.container {
	padding-top: 50px;
	padding-bottom: 30px;
	position: relative;
}

.row {
	position: relative;
}

nav {
	color: #ddd;
	background-color: #471200;
	background: linear-gradient(#471200, #401000);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 2px 2px 2px #555;	
	width: 100%;
}

.nav-unit > a {
	color: #ddd;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	letter-spacing: 0.15em;
}

.nav-unit> a:hover {
	color: #fff;
	background-color: #f55;
	background: linear-gradient(#531700, #501000);
}

.navbar {
	z-index: 10;
}

.nav-unit {
	color: #ddd;
	display: inline;
}

.nav-mob  {
	display: none;
}

.head-banner {
	position: relative;
	top: -50px;
	z-index: 1;
	height: 500px;
	color: white;
	letter-spacing: 0.22em;
	text-shadow: 0 1.5px 10px #f71;
	text-align: center;
	padding: 0;
}

.head-banner-image {
	position: absolute;
	width: 100%;
	top: -50px;
	z-index: 1;
	height: 500px;
	background-color: #7c5;
	color: white;
	letter-spacing: 0.22em;
	text-shadow: 0 1.5px 10px #f71;
	text-align: center;
	padding: 0;
	opacity: 0;
}

.image-1 {
	background: url("images/1.jpg") no-repeat center center;
	background-size: cover;
}

.image-2 {
	background: url("images/2.jpg") no-repeat center center;
	background-size: cover;
}
.image-3 {
	background: url("images/3.jpg") no-repeat center center;
	background-size: cover;
}

.image-4 {
	background: url("images/4.jpg") no-repeat center center;
	background-size: cover;
}
.image-5 {
	background: url("images/5.jpg") no-repeat center center;
	background-size: cover;
	opacity: 1;
}

.head-banner > h1{
	position: relative;
	top: 100px;
	width: 100%;
	font-size: 5em;	
	letter-spacing: 0.1em;
	background-color: rgba(71,18,0,0.4);
	background: linear-gradient(rgba(71,18,0,0.6), rgba(64,16,0,0.6));
}

.head-banner > h4 {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-size: 1.3em;	
	letter-spacing: 1.1em;
	background-color: rgba(71,18,0,0.4);
	background: linear-gradient(rgba(71,18,0,0.6), rgba(64,16,0,0.6));
}

.description {
	width: 75%;
	margin: auto;
	text-align: center;
	font-size: 1.25em;
}

h1.description {
	width: 95%;
	font-size: 3em;
	color: #471200;
}

.advantage {
	margin: 30px 0 10px 0;
	padding: 20px;
	height: 200px;
	border: 5px solid #471200;
	border-radius: 3px;
	background-color: rgba(71,18,0,0.1);
	text-align: center;
	color: #471200;
	position: relative;
}

.advantage > h3 {
	font-size: 2em;
	height: 70px;
}

.advantage > p {
	font-size: 1.2em;
}

.btn {
	border-radius: 0;
	display: block;
	margin: auto;
}

footer {
	margin: 10px auto;
	color: #bbb;
	bottom: 0;
	padding: 10px 30px;
	width: 100%;
	border-top: 1px solid #aaa;
}

footer > span {
	cursor: pointer;
}

footer > a {
	color: #888;
}

@media screen and (max-width: 360px) {
	.menu {
		position: fixed;
		bottom: 0;
		left: 0;
	}

	.navbar {
		position: fixed;
		bottom: -3px;
		left: -5px;
		width: 105%;
		margin: auto;
		overflow: hidden;
	}
	
	.nav-unit > a {
		font-size: 1.4em;
	}

	li > a:focus, .nav-unit > li > a:hover, .nav-unit > li > a:transparent {
		background-color: #471200;
		background: linear-gradient(#471200, #401000);
	}
	
	.nav {
		width: 100%;
		margin: auto;
		overflow: hidden;
		box-shadow: none;
		border-bottom-right-radius: none;
		border-bottom-left-radius: none;
	}
	
	.nav, .hidden-mob {
		display: none;
	}	

	.nav-mob  {
		display: block;
	}


	.hamburger {
		font-size: 2.2em;
		text-align: right;
		vertical-align: middle;
		cursor: pointer;
		display: block;
		width: 80%;
		height: 100%;
	}

	.container {
		margin-bottom: 40px;
		padding-top: 0;
	}

	.head-banner, .head-banner-image {
		height: 640px;
		background-size: cover;
	}

	.head-banner > h1 {
		font-size: 3em;	
		letter-spacing: 0.1em;
		top: 0;
		padding: 220px 0;
		height: 100%;
	}

	.head-banner > h3 {
		font-size: 1.9em;	
		letter-spacing: 0.05em;
	}

	.head-banner > h4 {
		font-size: 1.3em;	
		letter-spacing: 0.02em;
		padding: 0 10px 20px 10px;
		box-shadow: 0 0 2px 2px #471200;
	}

	footer {
		padding-bottom: 50px;
	}
}