* {
	font-family: 'Istok Web', sans-serif;
}

.container {
	margin-bottom: 80px;
}

.no-padding {
	padding: 0;
	margin: 0;
	position: relative;
}

nav {
	color: #ddd;
	background-color: #471200;
	background: linear-gradient(#471200, #401000);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 2px 2px 2px #555;	
	width: 100%;
}

.nav-unit > a {
	color: #ddd;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	letter-spacing: 0.15em;
}

.nav-unit> a:hover {
	color: #fff;
	background-color: #f55;
	background: linear-gradient(#531700, #501000);
}

.navbar {
	z-index: 10;
}

.nav-unit {
	color: #ddd;
	display: inline;
}

.nav-mob  {
	display: none;
}

.head-banner {
	position: relative;
	top: -50px;
	z-index: 1;
	height: 500px;
	background-color: #7c5;
	background: url("http://www.rumax.ru/images/projects/RM-166_b.jpg") no-repeat center center;
	background-size: cover;
	color: white;
	letter-spacing: 0.22em;
	text-shadow: 0 1.5px 10px #f71;
	text-align: center;
	padding: 0;
}

/* http://cdn.fishki.net/upload/post/2017/03/31/2256141/81a0af12608bf7f4aaa6ebd591a32cd7.jpg */

.head-banner > h3 {
	position: absolute;
	top: 120px;
	width: 100%;
	font-size: 5em;	
	letter-spacing: 0.15em;
}

.head-banner > h4 {
	position: absolute;
	top: 220px;
	width: 100%;
	font-size: 3em;	
	letter-spacing: 0.1em;
}

.head-banner > h1 {
	position: absolute;
	bottom: 10px;
	width: 100%;
	font-size: 1.3em;	
	letter-spacing: 0.1em;
}

.description {
	width: 75%;
	margin: auto;
	text-align: center;
	font-size: 1.25em;
}

.advantage {
	margin: 30px 0 10px 0;
	padding: 20px;
	height: 200px;
	border: 5px solid #bbb;
	border-radius: 3px;
	text-align: center;
	color: #555;
	position: relative;
}

.advantage > h3 {
	font-size: 2em;
	height: 70px;
}

.advantage > p {
	font-size: 1.2em;
}

.btn {
	border-radius: 0;
	display: block;
	margin: auto;
}

@media screen and (max-width: 320px) {
	.menu {
		position: fixed;
		bottom: 0;
		left: 0;
		box-shadow: 0;
	}

	.navbar {
		position: fixed;
		bottom: 0;
		left: -5px;
		width: 105%;
		margin: auto;
		overflow: hidden;
		box-shadow: 0;
	}
	
	.nav-unit > a {
		font-size: 1em;
	}
	
	.nav {
		width: 100%;
		margin: auto;
		overflow: hidden;
		box-shadow: 0;
		border-bottom-right-radius: none;
		border-bottom-left-radius: none;
	}
	
	.nav, .hidden-mob {
		display: none;
	}	

	.nav-mob  {
		display: block;
	}

}