/* COLOR SCHEME */

/* SCSS HEX 
$mango-tango: #ff8b43;
$rich-black-fogra: #04100e;
$caribbean-green: #37d2b0;
$magic-mint: #acecd9;
$white: #ffffff;
*/

/* SCSS RGB */
$mango-tango: rgba(255, 139, 67, 1);
$rich-black-fogra: rgba(4, 16, 14, 1);
$caribbean-green: rgba(55, 210, 176, 1);
$magic-mint: rgba(172, 236, 217, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ff8b43ff, #04100eff, #37d2b0ff, #acecd9ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #ff8b43ff, #04100eff, #37d2b0ff, #acecd9ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #ff8b43ff, #04100eff, #37d2b0ff, #acecd9ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #ff8b43ff, #04100eff, #37d2b0ff, #acecd9ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #ff8b43ff, #04100eff, #37d2b0ff, #acecd9ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #ff8b43ff, #04100eff, #37d2b0ff, #acecd9ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #ff8b43ff, #04100eff, #37d2b0ff, #acecd9ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #ff8b43ff, #04100eff, #37d2b0ff, #acecd9ff, #ffffffff);
$gradient-radial: radial-gradient(#ff8b43ff, #04100eff, #37d2b0ff, #acecd9ff, #ffffffff);

/* Light Scheme */
$background-color: $white;
$font-color: $rich-black-fogra;
$primary-color: $caribbean-green;
$secondary-color: $magic-mint;
$markup-color: $mango-tango;