body {
  margin: 0;
  font-family: 'Jura', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Jura';
  src: local('Jura'), url(./assets/fonts/Jura-VariableFont_wght.ttf) format('woff');
}

@font-face {
  font-family: 'Jura';
  font-weight: 300;
  src: local('Jura'), url(./assets/fonts/static/Jura-Light.ttf) format('woff');
}

@font-face {
  font-family: 'Jura';
  font-weight: 400;
  src: local('Jura'), url(./assets/fonts/static/Jura-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Jura';
  font-weight: 500;
  src: local('Jura'), url(./assets/fonts/static/Jura-Medium.ttf) format('woff');
}

@font-face {
  font-family: 'Jura';
  font-weight: 600;
  src: local('Jura'), url(./assets/fonts/static/Jura-SemiBold.ttf) format('woff');
}

@font-face {
  font-family: 'Jura';
  font-weight: 700;
  src: local('Jura'), url(./assets/fonts/static/Jura-Bold.ttf) format('woff');
}